# PlatformIO specific files
/.pio/
/.vscode/
/build/

# ESP-IDF specific files
/sdkconfig
/sdkconfig.old
/CMakeLists.txt
/.espressif/
/components/
/build/
/idf.py

# Arduino specific files
/.arduino15/
/hardware/
/libraries/

# Project specific files
.DS_Store
*.pyc
*.pyo
__pycache__/

# General configuration and environment files
/.idea/
/*.log
*.log

# Backup files
*.bak
*.swp
*.swo
